.nav.nav-tabs .nav-item .nav-link:hover {
    color: #7367F0;
}

.btn.btn-sm.btn-icon:hover {
    background-color: #6d63e6;
    color: #fff;
}

.settings .card-header {
    background-color: #5c54c5;
    padding-bottom: 15px;
}

.settings .card-title {
    color: #fff;
}